body {
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;

}

html {
  display: block;
  margin: 0;
}

.tittlep{ 
color: rgb(59, 83, 122);
margin: 1%;
display: contents;

}

.title{

  color: rgb(59, 92, 134);
  font-weight: 700;
}


.subtitle{
  font-style: normal; 
  font-weight: 700;
  margin-top: 0;
}

.img1{

  width: 70vw;
  height: 20vh;
}

#container {
  font-size: 17px;
  color:rgba(59,89, 152);
  width: 70%;
  text-align: center;
  font-weight: 800;
  margin: 0 auto;

}



.box{
  display: inline;


}


.txt{
  font-family: 'Roboto', sans-serif;
  margin: 2%;

}

.titleOffset{
  color: rgba(59,89, 152);
  text-align: center;
  font-weight: 800;
}



#offSet {
  height: 2rem;
  width: 4rem;
  text-align: center;
  font-weight: bold;
}


.btns{
  display: flow-root;
 

}
  
.button{
  background-color: rgba(59,89, 152, 0.9);
  display: inline-block;
  color: rgb(247, 236, 236); 
  padding: 1%;
  margin: 3%;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}

.button:hover{
  background-color:rgb(11, 104, 99, 0.9); 
}

/*FOOTER*/
.footer{
background-color: #ea9085;
position: relative;
border: dotted rgb(59, 92, 134);
}

.footer .footer-content{
  height: 40%;
  display: flex;
}

.footer .footer-content .footer-section{
  flex: 1;
  font-size: 10px;
  background-color: #FBD786;
  color: rgb(59, 92, 134);
}

.footer .footer-content h1, .footer .footer-contetnt h2, p{
  color: rgb(59, 92, 134);
}


/* CSS media query  */
@media only screen and (max-width: 700px) and (min-width: 320px) {
  

  body {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    
  }
  #title{
    color: rgb(59, 83, 122);
    padding-top: 3%;
    font-size: medium;
    width: inherit;
  }
  .tittlep{ 
    color: rgb(59, 83, 122);
    width: unset;
    display: contents;
    flex-direction: column;
    }

  .img1 {
    width: inherit;
  }

  .set{
    margin-right: 5%;
    margin-left: 5%;
  
  }

  .btns{
    display: inline-flex;
    margin-top: 2%;
    margin-bottom: 4%;
  
  }

  .footer{
    background-color: #ea9085;
    border: dotted rgb(59, 92, 134);
    position: relative;
  }

  .box{
    display: inline-block;
    ;
  
  }

  #container {
    width: 80vw;
    text-align: center;
    font-size: medium;
  }

}

