body {
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}



.tittlep{ 
color: rgb(59, 83, 122);
float: left;
margin: 1%;
}

.title{

  color: rgb(59, 92, 134);
  font-weight: 700;
}


.subtitle{
  font-style: normal; 
  font-weight: 700;
  margin-top: 0;
}

.img1{

  width: 77%;
  height: 20vh;
}

#container {
  font-size: 17px;
  color:rgba(59,89, 152);
  width: 70%;
  text-align: center;
  font-weight: 800;
  margin: 0 auto;
  margin-left: 20%;
}



.box{
  display: inline;
  margin-left: 10%;

}


.txt{
  font-family: 'Roboto', sans-serif;
  margin: 2%;

}

.titleOffset{
  color: rgba(59,89, 152);
  text-align: center;
 
}

.set{
  margin-left: 10%;

}


#offSet {
  height: 2rem;
  width: 4rem;
  text-align: center;
  font-weight: bold;
}


.btns{
  display: flow-root;
  margin-left: 10%;

}
  
.button{
  background-color: rgba(59,89, 152, 0.9);
  display: inline-block;
  color: rgb(247, 236, 236); 
  padding: 1%;
  margin: 6%;
  margin-top: 3%;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}

.button:hover{
  background-color:rgb(11, 104, 99, 0.9); 
}

/*FOOTER*/
.footer{
background-color: #ea9085;
position: relative;
border: dotted rgb(59, 92, 134);
}

.footer .footer-content{
  height: 40%;
  display: flex;
}

.footer .footer-content .footer-section{
  flex: 1;
  font-size: 9px;
  background-color: #FBD786;
  color: rgb(59, 92, 134);
}

.footer .footer-content h1, .footer .footer-contetnt h2, p{
  color: rgb(59, 92, 134);
}


/* CSS media query  */
@media (max-width: 600px) {
  body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  }



  .img1 {
    width: 77%;
    height: 50%;
  }


  .footer{
    background-color: #ea9085;
    border: dotted rgb(59, 92, 134);
  }



  #container {
    width: 70%;
    text-align: center;
    margin-left: 15%;
    font-size: small;
  }

}

